body, html {
  background-image: url("../img/pantheon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

tr>td {
  border: thin solid black;
  padding: .5em;
}

#site-title {
  font-size: xxx-large;
  font-weight: bolder;
  font-family: Chalkboard;
  color: gold;
  background-color: purple;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

p, li {
  font-size: medium;
  font-family: Tahoma, sans-serif;
}

thead {
  background-color: purple;
  color: gold;
}
label {
  position: relative;
  left: 2em;
}
button:active {
  background-color: purple;
  color: gold;
}

[type=radio] {
  margin: 3px;
  background-color: whitesmoke;
}

.form-check:hover {
  background-color: purple;
  color: gold;
}

.form-check-input {
  position: relative;
  left: 3em;
}

.chapter {
  display: none;
}

#submit-row {
  margin: 1em 0;
}

#gender-box {
  display: none;
}

#table-of-contents {
  position: relative;
  left: 1em;
}

#main-text {
  position: relative;
  left: 1em;
}

#site-title {
  font-size: larger;
}


